.v-container {
  height: 800px;
  width: 30vw;
  padding: 1rem;
  overflow: hidden;
  border-radius: 2rem;
  border: 2px solid var(--color-background);
  background-color: var(--color-background);
  box-shadow: 0px 6px 3px -3px var(--color-brand-title);
  text-align: center;
}

@media screen and (max-width: 1920px) {
  .v-container {
    width: 50vw;
  }
}

@media screen and (max-width: 1200px) {
  .v-container {
    width: 80vw;
  }
}