app/logs
app/*.log
app/npm-debug.log*
app/yarn-debug.log*
app/yarn-error.log*
app/pnpm-debug.log*
app/lerna-debug.log*

app/node_modules
app/.DS_Store
app/dist
app/dist-ssr
app/coverage
app/*.local

app/cypress/videos
app/cypress/screenshots

app/.vscode/*
app/!.vscode/extensions.json
app/.idea
app/*.suo
app/*.ntvs*
app/*.njsproj
app/*.sln
app/*.sw?

dapp/.anchor
dapp/.DS_Store
dapp/target
dapp/**/*.rs.bk
dapp/node_modules
dapp/test-ledger

dapp/systems/backend/node_modules
dapp/systems/backend/dist
dapp/systems/backend/.tscache