.init-padding {
  padding: 2.5rem;
}

.bottom-padding {
  padding: 1rem;
}

.view-container {
  margin: 1rem;
  padding: 1rem;
}

.color-change {
  transition: 0.3s background-color ease;
}

.hidden-ref {
  display: none;
}

h2 {
  font-weight: bolder;
  color: var(--color-heading);
}