.footer-container {
  width: 100%;
  position: absolute;
  bottom: 0px;
  background-color: transparent;
  display: flex;
  flex-direction: row;

  .footer-layer-top {
    flex: none;
    z-index: 1;
    align-items: left;
    padding: 0.75rem;

    h4 {
      font-weight: lighter;
      color: var(--color-heading);
    }
  
    b {
      font-weight: bold;
      color: var(--color-brand-title);
      border-radius: 0.5rem;
      padding: 0.25rem;
      background-color: var(--c-green);
      box-shadow: 0px 6px 3px -3px var(--c-green-shadow);
    }
  }

  .footer-layer-base {
    flex: none;
    z-index: 0;
  }
}

@media screen and (max-width: 800px) {
  .footer-layer-top {
    flex: 100%;
    width: 100%;
  }
}