.swv-button-trigger {
  background-color: transparent !important;
}

.swv-modal-wrapper {
  background: var(--color-background-soft) !important;
  color: var(--color-heading) !important;
}

.swv-dropdown-list {
  background: var(--color-background-soft) !important;
  color: var(--color-heading) !important;
}

.swv-button {
  background: transparent !important;
  color: var(--color-text) !important;
  border-radius: 0.5rem !important;
  margin-bottom: 0.25rem !important;
  font-family: 'Roboto Mono' !important;

  &:hover {
    //border-radius: 0.5rem;
    box-shadow: 0px 0px 4px 2px var(--c-boxshadow) !important;
  }

  &:active {
    box-shadow: 0px 0px 8px 2px var(--c-boxshadow) !important;
  }
}

.swv-modal-button-close {
  background: transparent !important;
}