.footer-container {
  width: 100%;
  position: absolute;
  bottom: 0px;
  background-color: transparent;
  display: flex;
  flex-direction: row;

  .footer-layer-top {
    flex: none;
    width: 25%;
    z-index: 1;
    align-items: left;
    padding: 0.5rem;

    h4 {
      font-weight: lighter;
      color: var(--color-heading);
    }
  
    b {
      font-weight: bold;
      color: var(--color-brand-title);
      border-radius: 0.5rem;
      padding: 0.5rem;
      background-color: rgb(42, 201, 148);
    }
  }

  .footer-layer-base {
    flex: none;
    z-index: 0;
  }
}