@import '@components/common/button/Button.scss';

.navbar-wrapper {
  width: 100%;
  display: flex;
  position: absolute;
  top: 0px;
  background-color: transparent;
  flex-direction: row;

  .title {
    flex: 50%;
    z-index: 0;
    padding-left: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;

    .dice {
      padding: 0.5rem;
    }
  }
  
  .router {
    z-index: 1;
    flex: 40%;
    align-items: center;
  }

  .user-actions {
    z-index: 1;
    flex: 20%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: flex-end;

    .dark-mode-toggle {
      @extend .v-button;
    }
  }
}

.router-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  
  .router-link {
    @extend .v-button;
    flex-direction: column;
    padding: 0.75rem;
    margin-right: 0.75rem;
    margin-left: 0.75rem;
    text-decoration: none;
    color: var(--color-brand-title);
    font-size: 16px;
    border-radius: 0.5rem;

    &:active {
      color: rgb(15, 72, 146); 
    }
  }
}